*__pycache__*
venv/
venv
.vscode
.pyc
biller/__pycache__
debug.log
/.idea/workspace.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/dbnavigator.xml
/.idea/BillerBackend.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.xml
/.idea/vcs.xml
/.idea/.gitignore
/logs/
/django_logs/
/data/
/airflow/logs/
.idea
minio_vol
.env
sonarqube
coverage.xml
.coverage
error.log
info.log
warning.log
